{% extends 'base.html' %}
{% block title %}Time in the house{% endblock title %}
{% block css %}
<link rel="stylesheet" href="static/main.css">
{% endblock css %}
{% block body %}

{% if data %}
<table class="table table-striped" id="myTable">
    <thead class='thead-dark'>
        <th><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."></th>
        <th>Време в обекта</th>
        <th>Влизания</th>
        <th>Излизания</th>
    </thead>
    {% for key, value in data.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value['total_time'] }}</td>
        <td>{{ value['in'] }}</td>
        <td>{{ value['out'] }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<form method='POST' action='/data_time_in_house'>
    <div class="mb-3">
        <label for="f_date" class="form-label">Първа дата</label>
        <input type="date" class="form-control" id="f_date" name="f_date">
    </div>
    <div class="mb-3">
        <label for="l_date" class="form-label">Втора дата</label>
        <input type="date" class="form-control" id="l_date" name="l_date">
    </div>
    <button type="submit" class="btn btn-primary form-control">Зареди</button>
</form>
{% endif %}
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock body %}